.App {
  text-align: center;
}

#root {
  min-height: 100vh;
}

.scarecrow {
  height: 40vmin;
  width: auto;
  left: auto;
}

header {
  position: absolute;
  background-color: #efefef;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-align: left;
  left: 77px;
  top: 40px;
}

.App-header {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
}

.InfoPage {
  text-align: left;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.backToHome {
  height: 68px;
  width: 216px;
  color: white;
  background-color: #212121;
  border: none;
  border-radius: 5px;
}

.backToHome:hover {
  cursor: pointer;
}

.backToHome:active {
  background-color: #45453f;
}

@media screen and (max-width: 700px) {
  header {
    top: 1.75rem;
    left: 2.25rem;
  }

  .App-header {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4.75rem;
    margin-left: auto;
  }

  .InfoPage {
    margin-left: 2rem;
    padding-left: auto;
    text-align: left;
    align-items: flex-start;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
